
<div class="domain-features container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row-title">Free for you :(</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="dfeature-box">
                    <div class="icon"><i class="hstb hstb-settings"></i></div>
                    <div class="title">Easy Control</div>
                    <div class="details">It is too Easy to Control this system. Where we Appear Physically</div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="dfeature-box">
                    <div class="icon"><i class="hstb hstb-two-circling-arrows"></i></div>
                    <div class="title">Communication Skills</div>
                    <div class="details">Increase your Vocabilary Siklls. Use your Skills here.</div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="dfeature-box">
                    <div class="icon"><i class="hstb hstb-lock"></i></div>
                    <div class="title">Secure your jobs</div>
                    <div class="details">After various attempt. You will Secure your Future.</div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="support-links container-fluid">
    <div class="row">
        <div class="col-sm-6 hylink-holder">
            <div class="hylink-box">
                <div class="icon"><img src="~/Design/images/info.svg" alt=""></div>
                <a href="#" class="link">Let’s talk</a>
                <div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ccusantium.</div>
            </div>
        </div>
        <div class="col-sm-6 hylink-holder">
            <div class="hylink-box">
                <div class="icon"><img src="~/Design/images/chat.svg" alt=""></div>
                <a href="#" class="link">Go to support center</a>
                <div class="text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ccusantium.</div>
            </div>
        </div>
    </div>
</div>
















<!-- footer of the pagse -->
<footer class="footer">
    <a class="btn-go-top" href="#"><i class="hstb hstb-down-arrow"></i></a>

    <div class="content-block footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-logo">
                        <img src="~/Design/images/cart.png" alt="image-cart" class="img-responsive" style="height:20%;width:50%;">
                    </div>
                    <div class="my-4">
                        <p>Daughter of snehipro.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h4>Follow us on:</h4>
                    <ul class="social-network round-icon">
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-google-plus"></span></a></li>
                        <li><a href="#"><span class="icon-pinterest"></span></a></li>
                        <li><a href="#"><span class="icon-dribbble"></span></a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h4>Subscribe to our newsletter</h4>
                    <div class="waituk_newsletter-form newsletter-v1 mt-2">
                        <form action="#" method="post">
                            <fieldset class="clearfix">
                                <div class="form-group input-holder">
                                    <input type="email" class="form-control" placeholder="Email Address">
                                    <button type="submit" class="btn"><i class="fa fa-send"></i></button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
            <hr />

            <div class="row">

                <div class="col-lg-2">
                    <h4 style="color:aqua;">Company</h4>
                    <div class="footer-nav">
                        <ul>
                            <li><a href="login.html">Client area</a></li>
                            <li><a href="http://docs.snehi.pro">Documentation</a></li>
                            <li><a href="https://vivo.snehi.pro">ViVo Music</a></li>
                            <li><a href="http://katcr.xyz">KickAss Torrent</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <h4 style="color:aqua;">Hosting-Comming soon</h4>
                    <div class="footer-nav">
                        <ul>
                            <li><a href="webhosting.html">Web Hosting-Comming soon</a></li>
                            <li><a href="wordpresshosting.html">Wordpress Hosting-Comming soon</a></li>
                            <li><a href="cloudhosting.html">Cloud Hosting-Comming soon</a></li>
                            <li><a href="vpshosting.html">VPS Hosting-Comming soon</a></li>
                            <li><a href="dedicatedhosting.html">Dedicated Hosting-Comming soon</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <h4 style="color:aqua;">Domain -Comming soon</h4>
                    <div class="footer-nav">
                        <ul>
                            <li><a href="domains.html">Register Domains -Comming soon</a></li>
                            <li><a href="domains.html">Transfer Domains -Comming soon</a></li>
                            <li><a href="domains.html">Manage Domains -Comming soon</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <h4 style="color:aqua;">Support -Comming soon</h4>
                    <div class="footer-nav">
                        <ul>
                            <li><a href="login.html">Client area -Comming soon</a></li>
                            <li><a href="#">Tutorials -Comming soon</a></li>
                            <li><a href="#">Documentation -Comming soon</a></li>
                            <li><a href="#">Forums -Comming soon</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2">
                    <h4 style="color:aqua;">Contact us </h4>
                    <div class="footer-nav">

                        <ul class="social">
                            <li><a href="https://facebook.com/snehivikram"><span class="icon-facebook">Snehi Vikram</span></a></li>
                            <li><a href="https://twitter.com/snehi5"><span class="icon-twitter">Snehi5</span></a></li>
                            <li><a href="https://codepen.io/vikramsnehi"><span class="icon-codepen">Vikram Snehi</span></a></li>
                            <li><a href="https://instagram.com/snehivikram"><span class="icon-instagram">Snehi Vikram</span></a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Email: snehi@yahoo.com</a></li>
                            <li><a href="#">Chatting service </a></li>
                            <li><a href="#">Submit a ticket </a></li>
                            <li><a href="#">Our location </a></li>
                        </ul>

                    </div>
                </div>



            </div>


        </div>

    </div>



    <div class="footer-bottom">
        <div class="container">
            <div class="divider-border-dark mt-0"><span class="sr-only">&nbsp;</span></div>
            <div class="row">
                <div class="col-md-6">  <span><a href="#">Sitemap</a></span> &nbsp; <span><a href="#">Terms of Service</a></span> &nbsp; <span><a href="privacy.html">Privacy Policy</a></span></div>
                <div class="col-md-6">  <p>Copyright 2018 - VideoInterview -powered by: <font style="color:aqua;"><a href="http://snehi.pro">snehi pro</a></font> </p></div>
            </div>
        </div>
    </div>

</footer>
<!--/footer of the page -->
<!-- search form wrapper -->
<div class="search-form-wrapper">
    <a href="#" class="nav-search-link close"><span class="icon-android-close"></span></a>
    <div class="holder">
        <input type="search" class="form-control form-control-v1" placeholder="Enter Your Search">
        <button type="submit"><span class="custom-icon-search"></span></button>
    </div>
</div>
